body{
  background-color: #bdb76b;
  color: black;
  font-family: Copperplate, Papyrus, fantasy;
  margin: 10% 20%;
}

.exp-header {
  text-align: center; 
  text-transform: uppercase; 
  border-top: 1px solid #dddddd;
  border-bottom:1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

h1{
  color: black; 
  
    
}

img {
  width: 180px; 
 top:25%;
  
}
.cropped { 
  width: 180px;
  height: 180px;
  margin-left: 80%;  
  border: 5px solid black;
  overflow: hidden; 
  object-fit: cover; 
  
}
.cropped img {
  margin: -10px 0px  -180px;
}
